<!-- SEE app_NOTES.HTML for notes on the following code -->
  
<html>
<head>
	<title>Bin2rong</title>
</head>


<body>  
<h1>Welcome {{ name }}! You Are Now an Art Fag! This is the home page</h1>


{% if display %}
 <h2>Display is ON</h2>
 	{%for x in myList%}
		<h1> {{ x }} </h1>
	{% endfor %}
	{%for y in myHardware%}
		<h1> {{y}} </h1>
	{%endfor%}
<style type="text/css" media="screen">
	body {background-color: powderblue;}
</style>
{% else %}
<h2>Display is OFF</h2>
	<style type="text/css" media="screen">
		body{background-color: red;}
	</style>
{%endif%}



</body>
</html>
<!-- Remember, we have to use double curly brackets cause the 'x' variable --> 
<!-- isnt pure HTML --> 