<html>
<head>
<title>Bin2rong</title>
</head>
    
<!---NOTE: I need to figure out how to link an external CSS file-->

    
<body>  
	<!-- {{name}} template variable -- which may be located app.py-->
	<!-- The bottom HTML will appear on (/home)-->
<h1>Welcome {{ name }}! You Are Now an Art Fag! This is the home page</h1>

<!-- START of  conditional IF/ELSE statements -->
{% if display %}
<h2>Display is ON</h2>
	<!--{%for x in myList%}
		<h1> {{ x }} </h1>
	{% endfor %} -->
	{%for y in myHarwdware%}
		<!--Since its a DICT, we need to include .name, for without it we -->
		<!--would get the whole dictionary, we need .name to get the value-->
			<h1> {{y.name}} </h1>
	{%endfor%}
<!-- If display is ON,background color will be 'powderblue' -->
	<!-- STYLE indicates the CSS -->
	<style type="text/css" media="screen">
		body {background-color: powderblue;}
	</style>
<!-- ELSE statement -->
{% else %}
<h2>Display is OFF</h2>
<!-- If display is ON,background color will be 'RED' -->
	<style type="text/css" media="screen">
		body {background-color: red;}
	</style>
{%endif%}
<!--END OF conditional IF/ELSE statements -->

<!-- FOR loop -->
{%for x in myList%}
	<h3> {{ x }} </h3>
{% endfor %}
<!-- endfor -->

</body>
</html>




 <h2>Display is ON</h2>
 	<!--{%for x in myList%}
		<h1> {{ x }} </h1>
	{% endfor %} -->
	{%for y in myHarwdware%}
		<!--Since its a DICT, we need to include .name, for without it we -->
		<!--would get the whole dictionary, we need .name to get the value-->
			<h1> {{y.name}} </h1>
	{%endfor%}